html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Navigation Bar */

.navbar {
    position: absolute; 
    top: 0;
    left:0 ;
    width: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3; 
    box-sizing: border-box; 

}
.nav-links {
    display: flex;
    gap: 20px;       
    margin-right: 50px; 
}


.navbar:hover {
    background-color: #2b2b41;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

.navbar a:hover {
    text-decoration: underline;
}

.logo img {
    height: 80px;
    width: auto;
}


.footer {
    margin-top: auto;
    background-color: #10177d;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 14px;
}

 
.footer {
    margin-top: auto;
    background-color: #051733;
    padding: 30px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 17px;
}
.footer a:hover {
    opacity: 0.7;
    color: #10177d;
} 


.footer-left {
    flex: 1;
}

/* Center content */
.footer-center {
    text-align: center;
}

.footer-right {
    flex: 1;
    display: flex;
    flex-direction: column;   
    align-items: center;    
    gap: 0px; 
}

.footer a {
    color: #fff;
    /* text-decoration: none; */
}

.footer a:hover {
    opacity: 0.7;
}

.linkedin {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 30px;
}

.copyright {
    margin: 0;
    font-size: 14px;
    margin-bottom: 40px;
}


/* Header */
.hero-section {
    position: relative;
    width: 100%;
    height: 60vh; 
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    padding-top: 10px; 
    margin-bottom: 0px; 
}

/* Hero Background Image */
.hero-background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 180%;  
    object-fit: cover; 
    z-index: 1;
    overflow: hidden; 
    margin-bottom: 0px; 
}


/* Hero Content  */
.hero-content {
    position: absolute;
    top: 50%;              
    left: 50%;             
    transform: translate(-50%, -50%);
    z-index: 4;            
    text-align: center;
    max-width: 900px;
    color: #fff;          
}

/* Titles */
.hero-title {
    font-size: 50px;
    font-weight: bolder;
    margin: 0 0 20px 0;  
    color: #161515;         
}

.hero-subtitle {
    font-size: 25px;
}

.hero-subtitle .highlight {
    color: #c28007;
}

/* Responsive */
@media (max-width: 768px) {
    .hero-title {
        font-size: 36px;
    }
    .hero-subtitle {
        font-size: 18px;
    }
}